<!DOCTYPE html>
<html>
<head>
{% if  request.path == '/'%}
				<title>Bagáh | Inicio</title>
				{% elif request.path == '/blog/'%}
				<title>Bagáh | Blog</title>
				{% elif request.path == '/products/'%}
				<title>Bagáh | Productos</title>
				{% elif request.path == '/pages/'%}
				<title>Bagáh | Noticias</title>
				{% elif request.path == '/about/' %}
				<title>Bagáh | Acerca de</title>
				{% elif request.path == '/services/'%}
				<title>Bagáh | Servicios</title>
				{% elif request.path == '/contact/'%}
				<title>Bagáh | Contacto</title>
				{% endif %}
{% load static %}

<!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <!-- Estilos -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">


<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'core/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'core/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{% static 'core/css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static 'core/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'core/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
	<div class="agileits_header">
		<div class="w3l_offers">
			<a href="{% url 'products' %}">¡Ofertas especiales!</a>
		</div>
		<div class="w3l_search">
			<!--<form action="#" method="post">
				<input type="text" name="Product" value="Busca un producto..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
				<input type="submit" value=" ">
			</form>-->
		</div>
		<div class="product_list_header">  
			<form action="{% url 'checkout' %}" method="post" class="last">{% csrf_token %}
                <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="display" value="1" />
                    <input type="submit" name="submit" value="Ver tu carrito" class="button" />
                </fieldset>
            </form>
		</div>
		
		<div class="w3l_header_right">
			<ul>
			
				<li class="dropdown profile_details_drop">
			
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
					<div class="mega-dropdown-menu">
						<div class="w3ls_vegetables">
							{% if not request.user.is_authenticated %}
								<ul class="dropdown-menu drp-mnu">
									<li><a href="{% url 'login' %}">Ingresar</a></li> 
									<li><a href="{% url 'signup' %}">Registro</a></li>
								</ul>
									{% else %}
								<ul class="dropdown-menu drp-mnu">
										<li><a href="{% url 'profile' %}">{{user}}</a></li>
										<li><a href="{% url 'profiles:list' %}">Mensajes</a></li>
										<li><a href="{% url 'logout' %}">Salir</a></li>
								</ul>
								
							{% endif %}
						</div>                  
					</div>	
				</li>
			</ul>
		</div>
		<div class="w3l_header_right1">
			<h2><a href="{% url 'contact' %}">Contactanos</a></h2>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		var navoffeset=$(".agileits_header").offset().top;
		$(window).scroll(function(){
			var scrollpos=$(window).scrollTop(); 
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		});
	});
	</script>
<!-- //script-for sticky-nav -->
	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left">
				<a href="{% url 'index' %}"><img class="img-responsive" src="{% static 'core/images/bagahlogo.jpg' %}" width="250px" height="100px"/></a>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					<li><a href="{% url 'events' %}">Blog</a><i>/</i></li>
					<li><a href="{% url 'about' %}">Acerca de</a><i>/</i></li>
					<li><a href="{% url 'products' %}">Productos</a><i>/</i></li>
					<li><a href="{% url 'services' %}">Servicios</a><i>/</i></li>
				</ul>
				</ul>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>(+0123) 234 567</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:bagah@gmail.com">bagah@gmail.com</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
{% if  request.path != '/'%}
<!-- products-breadcrumb -->
	<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="{% url 'index' %}">Inicio</a><span>|</span></li>
				{% if  request.path == '/blog/'%}
				<li>Blog</li>
				{% elif request.path|slice:":10" == '/products/'%}
				<li>Productos</li>
				{% elif request.path == '/pages/'%}
				<li>Noticias</li>
				{% elif request.path == '/about/' %}
				<li>Acerca de...</li>
				{% elif request.path == '/services/'%}
				<li>Servicios</li>
				{% elif request.path == '/contact/'%}
				<li>Envianos un mail</li>
				{% endif %}
			</ul>
		</div>
	</div>
{% endif %}
		<!--contenido-->
		{% block index %}{% endblock index %}
		{% block about %}{% endblock about %}
		{% block services %}{% endblock services %}
		{% block events %}{% endblock events %}
		{% block login %}{% endblock login %}
		{% block register %}{% endblock register %}
		{% block products %}{% endblock products %}
		{% block profile %}{% endblock profile %}
		{% block privacy %}{% endblock privacy %}
		{% block mail %}{% endblock mail %}
		{% block category %}{% endblock category %}
		{% block productview %}{% endblock productview %}
		{% block checkout %}{% endblock checkout %}
		{% block payment %}{% endblock payment %}

		{% block content1 %}{% endblock content1 %}
		{% block content2 %}{% endblock content2 %}
		{% block content3 %}{% endblock content3 %}
		{% block content4 %}{% endblock content4 %}
		{% block content5 %}{% endblock content5 %}
		{% block content6 %}{% endblock content6 %}
		{% block content7 %}{% endblock content7 %}
		{% block content8 %}{% endblock content8 %}
		{% block content9 %}{% endblock content9 %}
<!-- newsletter -->
	<div class="newsletter">
	</div>
<!-- //newsletter -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 w3_footer_grid">
				<h3>información</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="{% url 'events' %}">Blog</a></li>
					<li><a href="{% url 'about' %}">Acerca de...</a></li>
					<li><a href="{% url 'products' %}">Productos</a></li>
					<li><a href="{% url 'services' %}">Servicios</a></li>
					<!--<li><a href="short-codes.html">Short Codes</a></li>-->
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>información de politica</h3>
				<ul class="w3_footer_grid_list">
					<!--<li><a href="faqs.html">FAQ</a></li>
					<li><a href="privacy.html">politicas de privacidad</a></li>
					<li><a href="privacy.html">terminos de uso</a></li>-->
					{% load pages_extras %}
					{% get_page_list as page_list %}
					{% for page in page_list %}
					<li><a href="{% url 'page' page.id page.title|slugify %}">{{page.title}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<div class="w3_footer_grid_bottom">
					<h5>conectate con nosotros</h5>
					<ul class="agileits_social_icons">
					{% if LINK_FACEBOOK %}
						<li><a href="{{LINK_FACEBOOK}}" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					{% endif %}
					{% if LINK_TWITTER %}
						<li><a href="{{LINK_TWITTER}}" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					{% endif %}
					{% if LINK_GOOGLE %}	
						<li><a href="{{LINK_GOOGLE}}" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					{% endif %}
					{% if LINK_INSTAGRAM %}
						<li><a href="{{LINK_INSTAGRAM}}" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					{% endif %}
					{% if LINK_DRIBBBLE %}
						<li><a href="{{LINK_DRIBBBLE}}" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					{% endif %}
					</ul>
				</div>
			</div>
			<div class="col-md-3 w3_footer_grid">
					<div class="w3_footer_grid_bottom">
						<h4>pago 100% seguro</h4>
						<img src="{% static 'core/images/card.png' %}" alt=" " class="img-responsive" />
					</div>

			</div>
			<div class="clearfix"> </div>
			<div class="agile_footer_grids">
				<div class="clearfix"> </div>
			</div>
			<div class="wthree_footer_copy">
				<p>© 2020 Bagáh. Todos los derechos reservados</p>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->

<script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="{% static 'core/js/minicart.js' %}"></script>
<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 1) {
				alert('Para continuar añade un producto');
				evt.preventDefault();
			}
		});

	</script>
</body>
</html>
