{% extends "core/base.html" %}
{% load static %}
{% block index %}
<body>
<!-- banner -->
	<div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header nav_2">
				<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div> 
			<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav nav_1">
						<li><a href="{% url 'products' %}">Productos</a></li>
						{% for product in products %}
						{% for category in product.categorias.all %}
						<li><a href="{% url 'category' category.id %}">{{category.name}}</a></li>
						{% endfor %}
						{% endfor %}
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
		<div class="w3l_banner_nav_right">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="w3l_banner_nav_right_banner">
								<h3>Nuevos   <span>productos</span> disponibles.</h3>
								<div class="more">
									<a href="{% url 'products' %}" class="button--saqui button--round-l button--text-thick" data-text="Comprar ahora">Comprar ahora</a>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner1">
								<h3>Nuevos   <span>productos</span> disponibles.</h3>
								<div class="more">
									<a href="{% url 'products' %}" class="button--saqui button--round-l button--text-thick" data-text="Comprar ahora">Comprar ahora</a>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner2">
								<h3>con <i>50%</i>de descuento.</h3>
								<div class="more">
									<a href="{% url 'products' %}" class="button--saqui button--round-l button--text-thick" data-text="Comprar ahora">Comprar ahora</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<!-- flexSlider -->
				<link rel="stylesheet" href="{% static 'core/css/flexslider.css' %}" type="text/css" media="screen" property="" />
				<script defer src="{% static 'core/js/jquery.flexslider.js' %}"></script>
				<script type="text/javascript">
				$(window).load(function(){
				$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					$('body').removeClass('loading');
					}
				});
				});
			</script>
			<!-- //flexSlider -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- banner -->
	<div class="banner_bottom">
			<div class="wthree_banner_bottom_left_grid_sub">
			</div>
			<div class="wthree_banner_bottom_left_grid_sub1">
				<div class="col-md-4 wthree_banner_bottom_left">
					<div class="wthree_banner_bottom_left_grid">
						<img src="{% static 'core/images/4.jpg' %}" alt=" " class="img-responsive" />
						<div class="wthree_banner_bottom_left_grid_pos">
							<h4>Oferta de descuento <span>25%</span></h4>
						</div>
					</div>
				</div>
				<div class="col-md-4 wthree_banner_bottom_left">
					<div class="wthree_banner_bottom_left_grid">
						<img src="{% static 'core/images/5.jpg' %}" alt=" " class="img-responsive" />
						<div class="wthree_banner_btm_pos">
							<h3>Productos <span>totalmente</span><i>a tu alcance</i></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 wthree_banner_bottom_left">
					<div class="wthree_banner_bottom_left_grid">
						<img src="{% static 'core/images/6.jpg' %}" alt=" " class="img-responsive" />
						<div class="wthree_banner_btm_pos1">
							<h3>A solo<span>por</span> $10</h3>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
	</div>
<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
			<h3>Productos disponibles</h3>
			<div class="agile_top_brands_grids">
				{% for product in products %}
				<div class="col-md-3 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block" >
										<div class="snipcart-thumb">
											<a href="{% url 'productsdetail' product.id %}"><img title=" " alt=" " src="{{product.image.url}}" /></a>		
											<p>{{product.name}}</p>
											<h4>{{product.price}}<span></span></h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="{% url 'checkout' %}" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="{{product.name}}" />
													<input type="hidden" name="amount" value="{{product.price}}" />
													<!--<input type="hidden" name="discount_amount" value="{{product.price}}" />-->
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Añadir al carrito" class="button" />
												</fieldset>
													
											</form>
									
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //top-brands -->
<!-- fresh-vegetables -->
	<div class="fresh-vegetables">
		<div class="container">
			
			<div class="events">
				<h3>Principales publicaciones</h3>
			<div class="events-bottom">
			{% for post in posts %}
				<div class="col-md-2 events_bottom_left1">
						<div class="events_bottom_left1_grid">
							<h4>{{post.published|date:" d "}}</h4>
							<p>{{post.published|date:" M Y "}}</p>
						</div>
				</div>
				<div class="col-md-4 w3l_banner_nav_right_banner3_btml">
					<div class="view view-tenth">
						<img src="{{post.image.url}}" alt=" " class="img-responsive"/>
						<div class="mask">
							<h4>{{post.title}}</h4>
						</div>
					</div>
					<div class="col-md-8 events_bottom_left2">	
						
						<h4>{{post.title}}</h4>
						<ul>
							<li><i class="fa fa-clock-o" aria-hidden="true"></i>{{post.published|time:"H:i"}}</li>
							<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">{{post.author}}</a></li>
						</ul>
						<p>{{post.content}}</p>
					</div>
				</div>
				<!--<div class="col-md-6 events_bottom_left">
					<div class="col-md-4 events_bottom_left1">
						<div class="events_bottom_left1_grid">
							<h4>{{post.published|date:" d "}}</h4>
							<p>{{post.published|date:" M Y "}}</p>
						</div>
					</div>
					<div class="view view-tenth">
						<img src="{{post.image.url}}" alt=" " class="img-responsive" />
						<div class="mask">
							<h4>Bagah expres</h4>
							<p>A tu cervicio</p>
						</div>
					</div>
					<div class="col-md-8 events_bottom_left2">	
						<img src="{{post.image.url}}" alt=" " class="img-responsive" class="rounded"/>
						<h4>{{post.title}}</h4>
						<ul>
							<li><i class="fa fa-clock-o" aria-hidden="true"></i>{{post.published|time:"H:i"}}</li>
							<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">{{post.author}}</a></li>
						</ul>
						<p>{{post.content}}</p>
					</div>
				</div>-->
			{% endfor %}	
				<div class="clearfix"> </div>
			</div>
		
<!-- //events -->
		</div>
		</div>
	</div>
<!-- //fresh-vegetables -->
</body>
{% endblock %}

