{% extends "core/base.html" %}
{% load static %}
{% block services %}
<body>
<!-- banner -->
	<div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header nav_2">
				<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div> 
			<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav nav_1">
						<li><a href="{% url 'products' %}">Productos</a></li>
						{% for product in products %}
						{% for category in product.categorias.all %}
						<li><a href="{% url 'category' category.id %}">{{category.name}}</a></li>
						{% endfor %}
						{% endfor %}
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
		<div class="w3l_banner_nav_right">
<!-- services -->
		<div class="services">
			<h3>Servicios</h3>
			{% for service in services %}
			<div class="w3ls_service_grids">
				<div class="col-md-5 w3ls_service_grid_left">
					<h4>{{service.title}}</h4>
					<p>{{service.content}}</p>
				</div>
				<div class="col-md-7 w3ls_service_grid_right">
					<div class="col-md-6 w3ls_service_grids1_left">
						<img src="{{service.image.url}}" alt=" " class="img-responsive" />
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			{% endfor %}
		</div>
<!-- //services -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->

</body>

{% endblock %}